{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src={% static 'img/Logo.jpeg' %} style="width:30%" alt="logo">
    <h1>SITIO ABRASAN</h1>
    <a href={% url "sitio:nosotros" %}>Nosotros</a>
    <a href={% url "sitio:mision" %}>Misión</a>
    <a href={% url "sitio:vision" %}>Visión</a>
</body>
</html>