{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Inventario</title>
    {% include "comun/estilos.html"%}
    {% load bootstrap5 %}
    <link rel="stylesheet" href={% static 'app/css/inventario.css' %} type="text/css">
   
</head>

<body class="bg-white" >
    <!-- Sidenav -->
    {% include 'comun/nav.html' %}
    <!-- Main content -->
    <div class="main-content bg-white" id="panel">
        <!-- Topnav -->
        {% include 'comun/navbar.html' %}

        <div class="header pb-4 border-top">
            <div class="container-fluid">
                <div class="header-body">
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="card">
                <div class="card-header" style="background-color:#110273;">
                  <div class="row">     
                    <div class="col-6">
                      <h3 style="color:white" id="identificador">Catalogo de Accesorios - Materiales - Equipos</h3>
                    </div>
                    <div class="col-6">
                     
                    </div>
                  </div>
              </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-sm-5"></div>
                    <div class="col-7 col-sm-7">
                      
                    </div>
                    
                  </div>
                  <div class="container">
                    <div class="row mt-2">
                      <div class="col-12">
                        <div class="table-responsive">
                          <table cellspacing="0" id="excel" class="table table-hover">
                            <thead>
                              <tr>
                                
                                <th >Categoria</th>
                                <th >Unidad</th>
                                <th>Descripción</th>
                                <th>Bodega</th>
                                <th >Total</th>
                                <!--<th>Opciones</th>-->
                              </tr>
                            </thead>
                            <tbody>
                              {% for p in productos %}
                              <tr style="background-color:#929090;">
                                <td>
                                                    {% if p.categoria == '1' %}
                                                    Equipo
                                                    {% elif p.categoria == '2' %}
                                                    Mueble
                                                    {% elif p.categoria == '3' %}
                                                    Accesorio
                                                    {% elif p.categoria == '4' %}
                                                    Herreria
                                                    {% elif p.categoria == '5' %}
                                                    Canceleria
                                                    {% elif p.categoria == '6' %}
                                                    Carpinteria
                                                    {% elif p.categoria == '7' %}
                                                    Acabado
                                                    {% elif p.categoria == '8' %}
                                                    Material
                                                    {% endif %}
                                </td>
                                <td>
                                 {{p.unidad}}
                                </td>
                                <td>{{p.descripcion}}</td>
                                <td>GENERAL</td>
                                <td>{{p.total}}</td>
                                              
                                             
                                              
                                              
                                             
                              </tr>
                              {% for p2 in productos2  %}
                                {% if p.descripcion == p2.descripcion and p.unidad == p2.unidad and p.categoria == p2.categoria%}
                              <tr>
                                
                               <td>
                                {% if p2.categoria == '1' %}
                                                    Equipo
                                                    {% elif p2.categoria == '2' %}
                                                    Mueble
                                                    {% elif p2.categoria == '3' %}
                                                    Accesorio
                                                    {% elif p2.categoria == '4' %}
                                                    Herreria
                                                    {% elif p2.categoria == '5' %}
                                                    Canceleria
                                                    {% elif p2.categoria == '6' %}
                                                    Carpinteria
                                                    {% elif p2.categoria == '7' %}
                                                    Acabado
                                                    {% elif p2.categoria == '8' %}
                                                    Material
                                                    {% endif %}

                               </td>
                               <td>
                                {{p2.unidad}}

                               </td>
                              <td>{{p2.descripcion}}</td>
                              <td>{{p2.bodega__nombre}}</td>
                              <td>{{p2.total}}</td>
                              
                              </tr>
                              {% endif %}
                              {% endfor %}
                              {% endfor %}
                             
                            </tbody>
                          </table>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
        </div>

        {% include 'comun/script.html' %}
   
</body>
<script type="text/javascript" src= {% static 'app/js/simple_numbers_no_ellipses.js'%}></script>
<script src={% static "app/js/paginator.js" %}></script>
<script>

  $(document).ready(function(){
    var dynamicVariable='Inventario General'
    var date = new Date($.now());
    var dateString = (date.getFullYear() + '-'+ ('0' + (date.getMonth() + 1)).slice(-2)+ '-' + ('0' + (date.getDate())).slice(-2));
    console.log(dateString);
    $("#excel").DataTable({
      
      "spaginationType": "simple_numbers_no_ellipses",
        dom:"PBfrtip",
        searchPanes:{initCollapsed:true},
        "pageLength": 12,
        buttons:{
          dom:{
            button:{
              className:'btn'
            }
          },
          buttons:[
          {
            extend:"excel",
            text:'Exportar a excel',
            className:'btn btn-outlime-success',
            excelStyles:{
              template:'header_blue'
            },
            filename:dynamicVariable+"_"+dateString,
            title:"Inventario General"+"  "+dateString,
            sheetName:" "+dynamicVariable+" "+dateString
            
          }]
        }
    });
   
    $(".dtsp-title").hide()
    $(".dtsp-emptyMessage").hide()
    $(".dtsp-collapseAll").html('Colapsar Todo')
    $(".dtsp-showAll").html('Ver Todo')
    $(".dtsp-clearAll").html('Limpiar todo')
    $(".dataTables_info ").hide()
    $(".buttons-excel ").show()
    
    $(".dataTables_info ").hide()
  })
  
  </script>
</html>